App_Data
App_Start
bin
Content
fonts
obj
Properties
Scripts
Views
favicon.ico
Global.asax
packages.config
UniversityWebChat.csproj
UniversityWebChat.csproj.user
Web.config
Web.Debug.config
Web.Release.config