@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Университетский веб-чат</h1>
    <p class="lead">Данный сайт является сервисом связи студентов и преподавателей в образовательных целях.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Приступая к работе</h2>
        <p>
            Прежде чем начать переписку необходимо создать аккаунт.
            Пользовательские аккаунты бывают двух типов: <br />
             - студенческий  <br />
             - преподавательский (требуется уникальный пароль, выданный в учебном заведении)
        </p>
        <p><a class="btn btn-default" href="/Account/Register/">Зарегистрироваться &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Уже есть аккаунт?</h2>
        <p>Если у вас уже есть аккаунт от данного портала, просто авторизуйтесь.</p>
        <p><a class="btn btn-default" href="/Account/Login/">Войти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Потом придумаю</h2>
        <p>Потом все будет</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Куда-нибудь &raquo;</a></p>
    </div>
</div>